* {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(245,245,245,255);
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    overflow-x: hidden;
}

nav {
    display: flex;
    position: fixed;
    opacity: 0.98;
    height: 90px;
    width: 100%;
    background-color: rgb(11, 12, 15);
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.links a {
    display: flex;
    cursor: pointer;
    height: 90px;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-underline-offset: 4px;
    transition: 0.7s;
}

.links a:hover {
    background-color: rgb(28, 30, 38);
    text-decoration: underline;
}

.name a {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    width: 100%;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('studio4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin-bottom: 250px;
}

.herotext {
    text-align: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1400px;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image, .info {
    font-size: 20px;
    margin-inline: 20px;
}

.leftabout, .rightabout {
    margin: 50px 0 50px 0;
    width: 500px;
}

.rightabout h1 {
    font-size: 30px;
}

.rightabout p {
    font-size: 20px;
}

.upper {
    display: flex;
    align-items: center;
}

.bar {
    height: 20px;
    width: 400px;
    background-color: rgb(209, 209, 209);
}

.progress1, .progress2, .progress3, .progress4 {
    height: 20px;
    background-color: rgb(51, 53, 63);
}

.progress1 {
    width: 85%;
}

.progress2 {
    width: 70%;
}

.progress3 {
    width: 10%;
}

.progress4 {
    width: 40%;
}

.osaaminen {
    margin-bottom: 20px;
    margin-inline: 20px;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 50px;
}

.portfolio {
    margin-top: 100px;
    margin-bottom: 250px;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.projects_top {
    display: flex;
}

.projects_bottom {
    display: flex;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    overflow: hidden;
    cursor: pointer;
    width: 350px;
    margin: 0 50px 50px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project_picture1, .project_picture2, .project_picture3, .project_picture4, .project_picture5, .project_picture6 {
    transition: 0.7s ease-in-out;
    background-position: center;
    background-size: 100%;
    height: 200px;
    width: 350px;
}

.project_picture1 {
    background-image: url(Maido.png);
}

.project_picture1:hover {
    background-size: 105%;
}

.project_picture2 {
    background-image: url(laskin.png);
}

.project_picture2:hover {
    background-size: 125%;
}

.project_text {
    margin-left: 15px;
}

.project_picture3 {
    background-image: url(reseptipankki.png);
}

.project_picture3:hover {
    background-size: 105%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(11, 12, 15);
}

.footerlinks {
    display: flex;
    flex-direction: row;
}

.footerlink {
    display: flex;
    margin-inline: 25px;
    height: 50px;
    width: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.85s;
    border: 2px solid white;
}

.footerlink:hover {
    background-color: rgb(39, 40, 45);
}

.footerlinks a {
    font-weight: bold;
    font-size: 20px;
    margin-inline: 20px;
    color: white;
    text-decoration: none;
}

.copyright {
    color: white;
    margin-top: 10px;
}

#contact {
    width: 150px;
    margin-inline: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 45px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
}

#contact:hover {
    background-color: rgb(28, 30, 38);
}

input {
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid rgb(134, 183, 254);
}

textarea {
    border-radius: 5px;
    min-height: 150px;
    outline: none;
    border: 1px solid gray;
    width: 400px;
    resize: vertical;
    max-width: 400px;
}

.contact_container {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('studio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 1000px;
    justify-content: center;
    align-items: center;
}

.full_container {
    display: flex;
    min-height: 700px;
    margin: 100px 0 100px 0;
    width: 1200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
}

.contact_left, .contact_right {
    margin-top: 60px;
    width: 200px;
    margin-inline: 200px;
}

.contact_right {
    position: sticky;
    top: 0;
}

.contact_left {
    display: flex;
    flex-direction: column;
}

.send_button {
    display: flex;
    width: 150px;
    margin-top: 30px;
    margin-inline: 100px;
    justify-content: center;
    align-items: center;
}

.send_button button {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    color: white;
    background-color: rgb(39, 40, 45);
    outline: none;
    border: none;
}

.contact_links {
    display: flex;
}

.contact_link {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(11, 12, 15);
    border-radius: 40px;
}

.contact_link:hover {
    background-color: rgb(39, 40, 45);
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact_info {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact_info img {
    margin-right: 20px;
}

@media screen and (max-width: 600px){

    .about {
        width: 100%;
        margin-top: 400px;
        flex-direction: column;
    }

    footer {
        position: relative;
        top: 670px;
    }

    .projects_top {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .projects_bottom {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .project3, .project4 {
        display: none;
    }

}